.header {
  background: $white;
  color: $charcoal;
  height: 6rem;

  &__content {
  }

  a {
    color: $charcoal;

    &:hover {
      color: $silver;
    }
  }

  &__logo {
    position: absolute;
    z-index: 10;
    width: 8rem;
    height: 8rem;
  }

  nav {
    height: 6rem;
    display: flex;
    justify-content: flex-end;

    a {
      display: flex;
      align-items: center;
      height: 6rem;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      font-weight: 800;
      text-transform: uppercase;
      color: $charcoal;
      transition: all 0.5s ease;

      &:hover {
        color: $pink;
      }

      &[aria-current="page"] {
        color: $pink;
      }
    }
  }
}
