$burgundy: #ba1a33;
$shamrock: #2ecc71;
$denim: #1976d2;
$red: #ee0000;

$white: #ffffff;
$mercury: #eeeeee;
$silver: #cccccc;
$grey: #999999;
$dove: #666666;
$charcoal: #333333;
$black: #000000;

$purple: purple;
$pink: #ed008c;

$success: $shamrock;
$error: $red;
