$global-font-size: 16px;
$global-leading: 1.4em;
$font-family: "open-sans", Heletica, sans-serif;
$monofont-family: "source-sans-pro", Heletica, sans-serif;

$column-gap: 0.75rem; // 12px

$desktop: 75em; // 1200px
$laptop: 58.75em; // 980px
$tablet: 48.75em; // 780px
$mobile: 28.125em; // 450px

$images-url: "../images/";
