@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: $laptop) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: $mobile) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: $mobile) {
      @content;
    }
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin focus-style() {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

@mixin font-smoothing($value: on) {
  @if ($value == on) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}
